<nav class="navbar navbar-expand-md navbar-lewagon">
  <div class="container-fluid">
     <%= link_to root_path, class: "navbar-brand navbar-brand--logo" do %>
      <span class="navbar-logo-square">
  <svg class="navbar-logo-pin" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7Z" fill="white"/>
    <circle cx="12" cy="9" r="2.5" fill="#174d36"/>
  </svg>
</span>
      <span class="navbar-logo-text">My <strong>Healthy</strong> Map</span>
     <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><%= link_to "Map", root_path, class: "nav-link" %></li>
        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to "Favourites", favourites_path, class: "nav-link" %></li>
        <% end %>
      </ul>

      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to "My Profile", edit_profile_path, class: "nav-link" %></li>
          <li class="nav-item">
            <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-outline-primary btn-sm" %>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to "Sign in", new_user_session_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-sm" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
